/node_modules
/src/.vs
/src/bin
/src/obj
*.user
/src/typings
/ObjectStoreProviderTestsPack.js
/.vscode
test.html
tsconfig.json
webpack.config.js
README.md
.eslintrc.js
.npmrc
.prettierignore
.prettierrc.json
