/node_modules
*.user
/.vscode
tsconfig.json
webpack.config.js
README.md
.eslintrc.js
.npmrc
.prettierignore
.prettierrc.json
.yarnclean
karma.*.conf.js
/src
index.ts
*.spec.js
/.github
/dist/src/tests
